{% extends 'base.html.twig' %}
{% block title %}Editar Torneo {% endblock title %}
{% block body %}
    <div class="editar-torneo">
            <h2>Editar Torneo</h2>
            <hr>
            {{ form_start(formulario, {'attr': {'id': 'formTorneo'}}) }}
            {{ form_end(formulario) }}
            <div class="botones-accion">
                    <button id="btn-add-equipo">
                            <a href="{{ path('crearequipo',{'id': torneo.id}) }}" data-torneo-id="{{ torneo.id }}">Añadir equipo</a>
                    </button>
                    <button id="cancelar"><a href="{{ path('torneo',{'id': torneo.id}) }}">Cancelar</a></button>
            </div>
            <div id="equipos"></div>
    </div>
{% endblock %}