{% extends 'base.html.twig' %}
{% block body %}
    <section class="fc-title">
        <h1>- FriendlyCup -</h1>
        <p>Bienvenido a tu página de torneos</p>
    </section>

    <main class="body-content">
        <section class="hero-section">
            <div class="hero-content">
                <h1>¡Crea ya tu torneo<br>en breves minutos!</h1>
                <a href="{{ path('crear-torneo') }}" class="hero-cta">Nuevo torneo</a>
            </div>
        </section>
    </main>
    <main class="main-container">
        <div id="sections">
            {# SECCIÓN: TORNEOS SEGUIDOS #}
            <section class="section-container">
                <h2>Torneos seguidos</h2>
                <hr>
                <div class="grid-layout">
                    {# app.user.users es la relación ManyToMany que definiste en tu entidad #}
                    {% if app.user %}
                        {% for seguido in app.user.seguidos %}
                            <div class="card">
                                <div class="card-info">
                                    <a href="{{ path('torneo', {'id': seguido.id}) }}">
                                        <strong>{{ seguido.name }}</strong>
                                    </a>
                                    <p id="tipo">{{ seguido.tipo }}</p>
                                </div>
                                <p class="card-img">Siguiendo</p>
                            </div>
                        {% else %}
                            <p>Aún no sigues ningún torneo.</p>
                        {% endfor %}
                    {% else %}
                        <p><a href="{{ path('app_login') }}">Inicia sesión</a> para ver tus torneos seguidos.</p>
                    {% endif %}
                </div>
            </section>
            <section class="section-container">
                <h2>Ligas fantasy que tienes</h2>
                <hr>
                <div class="grid-layout">
                    {# app.user.users es la relación ManyToMany que definiste en tu entidad #}
                    {% if app.user %}
                        {% for fantasy in fantasies %}
                            <div class="card">
                                <div class="card-info">
                                    <a href="{{ path('fantasy_liga',{'id': fantasy.ligaFantasy.id}) }}">{{ fantasy.ligaFantasy.nombre }}</a>
                                </div>
                            </div>
                        {% else %}
                            <p>Aún no sigues ningún torneo.</p>
                        {% endfor %}
                    {% else %}
                        <p><a href="{{ path('app_login') }}">Inicia sesión</a> para ver tus torneos seguidos.</p>
                    {% endif %}
                </div>
            </section>
        </div>
        <aside>
            <h1>Tus datos de usuario</h1>
            <div id="main-data">
                <p>Nombre y Apellidos: <a href="{{ path('user_profile', {'username': app.user.name}) }}"><span class="userDataText">{{ app.user.name }}</span></a></p>
                <hr style="margin-top:10px;margin-bottom: 10px">
                <p style="margin-bottom: 5px">Correo electrónico: <span class="userDataText">{{ app.user.email }}</span></p>
            </div>

            <section class="section-container">
                <h2>Mis torneos</h2>
                <hr>

                {% if torneos is not empty %}
                    <div class="stats-table-container">
                        <table class="stats-table">
                            <thead>
                            <tr>
                                <th>Torneo</th>
                                <th>Seguidores</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for torneo in torneos %}
                                <tr>
                                    <td>
                                        <a href="{{ path('torneo', {'id': torneo.id}) }}" id="">
                                            {{ torneo.name }}
                                        </a>
                                    </td>
                                    <td>{{ torneo.seguidores }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>No has creado ningún torneo todavía.</p>
                {% endif %}
            </section>
        </aside>
    </main>
{% endblock %}