{% extends 'base.html.twig' %}
{% block title %} Torneos {% endblock title %}
{% block body %}
    <div class="main-container-torneo">
        <main class="torneo-content">
            <section class="torneo-header-card">
                <div class="header-info">
                    <h1>{{torneo.name}}</h1>
                    <span id="contador-seguidores">{{ torneo.seguidores}}</span> seguidores
                </div>
                <div class="header-actions">
                    {% if app.user == admin %}
                        <button type="button" class="btn-secondary" id="crear-evento" data-id="{{ torneo.id }}">Crear evento</button>
                        <a href="{{ path('modificartorneo', {'id': torneo.id}) }}" class="btn-secondary">Modificar Torneo</a>
                        <a href="{{ path('torneoeliminado', {'id': torneo.id}) }}" class="btn-danger">Terminar Torneo</a>
                    {% else %}
                        <button id="seguir" data-id="{{ torneo.id }}" class="{{ app.user.seguidos.contains(torneo) ? 'btn-danger' : 'btn-secondary' }}">{{ app.user.seguidos.contains(torneo) ? 'Dejar de seguir' : 'Seguir' }}</button>
                    {% endif %}
                    
                </div>
            </section>

            <nav class="navigator-torneos">
                <ul>
                    <li><a href="#" id="resumen" class="tab active" data-url="{{ path('torneo_resumen', {id: torneo.id}) }}">Resumen</a></li>
                    <li><a href="#" id="clasificacion" class="tab" data-url="{{ path('torneo_clasificacion', {id: torneo.id}) }}">Clasificación</a></li>
                    <li><a href="#" id="estadisticas" class="tab" data-url="{{ path('torneo_estadisticas', {id: torneo.id}) }}">Estadisticas</a></li>
                </ul>
            </nav>

            <section id="torneo-section" class="torneo-section"></section>
        </main>

        <aside class="sidebar-organizador">
            <div class="organizador-card">
                <h3>Organizador</h3>
                <hr>
                {# de aquí #}
                <div class="org-info">
                    <span>{{admin.name}}</span>
                </div>
                {# a aquí, poner el nombre del creador del torneo (Organizador) #}
            </div>

            <div class="organizador-card link-box">
                <p>Para fantasy</p>
                <button type="button" id="unirseliga" data-url="{{ path('app_fantasy_anadirusuario') }}" data-torneo="{{ torneo.id }}">Unirme a la liga</button>
            </div>

            <button class="btn-fantasy"><a href="{{ path('fantasycrear', {'id': torneo.id}) }}">Crear fantasy ligado</a></button>
        </aside>
    </div>

{% endblock %}