{% extends 'base.html.twig' %}

{% block title %}Hello FantasyController!{% endblock %}

{% block body %}
<h1>Equipo: {{ equipo.entrenador.name }}</h1>
<h2>Presupuesto: <span id="budget" data-valor="{{ equipo.presupuesto }}" data-id="{{ equipo.id }}">{{ equipo.presupuesto | number_format }}</span> €</h2>

<div class="jugadores">
    <h3>Mis jugadores</h3>
    {% for jugador in misJugadores %}
    <div class="jugador-card titular">
        Jugador: {{jugador.nombre}} Puntos: {{jugador.estadisticas}} Valor de mercado: {{jugador.valordemercado}}
        <button class="vender" onclick="vender({{ equipo.id }}, {{ jugador.id }})">
            Vender
        </button>
    </div>
{% endfor %}
</div>
<h2>Equipos en esta liga:</h2>
<ul>
{% for equipo in equiposEnLiga %}
    <li>
        {{ equipo.entrenador.name }} - Puntos: {{ equipo.puntos }}
    </li>
{% endfor %}
</ul>
<div class="contador"></div>
<div class="mercado">
    {% for jugador in mercado %}
        <p>Jugador: {{jugador.nombre}} Puntos: {{jugador.estadisticas}} Valor de mercado: {{jugador.valordemercado}}
        <button class="btn-pujar" data-id="{{ jugador.id }}" data-valor="{{ jugador.valordemercado }}"data-nombre="{{ jugador.nombre }}" data-puntos="{{ jugador.estadisticas }}">Pujar</button>
    {% endfor %}
</div>
{% if app.user == liga.administrador %}
    <button>Añadir a otro usuario</button>
{% endif %}
{% endblock %}
