{% extends 'base.html.twig' %}

{% block title %}Hello FantasyController!{% endblock %}

{% block body %}
<h1>Equipo: {{ equipo.entrenador.name }}</h1>
<h2>Presupuesto: <span id="budget" data-valor="{{ equipo.presupuesto }}">{{ equipo.presupuesto | number_format }}</span> €</h2>

<div class="campo-futbol">
    <h3>Mis jugadores</h3>
    {% for jugador in misJugadores %}
        {% if jugador.id in datosAlineacion.titulares %}
            <div class="jugador-card titular">
                {{ jugador.nombre }}
                <button onclick="cambiarPosicion({{ equipo.id }}, {{ jugador.id }})">Banquillo</button>
            </div>
        {% endif %}
    {% endfor %}
</div>
<h2>Equipos en esta liga:</h2>
<ul>
{% for equipo in equiposEnLiga %}
    <li>
        {{ equipo.entrenador.name }} - Puntos: {{ equipo.puntos }}
    </li>
{% endfor %}
</ul>
<div class="contador"></div>
<div class="mercado">
    {% for jugador in mercado %}
        <p>Jugador: {{jugador.nombre}} Puntos: {{jugador.estadisticas}} Valor de mercado: {{jugador.valordemercado}}
        <button class="btn-pujar" data-id="{{ jugador.id }}" data-valor="{{ jugador.valordemercado }}">Pujar</button> </p>
    {% endfor %}
</div>
{% if app.user == liga.administrador %}
    <button>Añadir a otro usuario</button>
{% endif %}
{% endblock %}
