<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FriendlyCup - Crea tus propios torneos">
    <link rel="icon" type="image/png" href="{{ asset('img/logo.png') }}">
    <title>{% block title %}FriendlyCup{% endblock %}</title>
    
    {# Cargamos el CSS desde la carpeta public/css #}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/estilo.css') }}">
    <link rel="stylesheet" href="{{ asset('css/estilo2.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tablas.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formularios.css') }}">
    <link rel="stylesheet" href="{{ asset('css/usuario.css') }}">
    <link rel="stylesheet" href="{{ asset('css/torneos.css') }}">
    <link rel="stylesheet" href="{{ asset('css/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fantasy.css') }}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    
</head>
<body>
<div class="web">
    <nav class="navigator-bar">
        <div class="nav-content">
            <div class="logoFC">
                <a href="{{ path('inicio') }}">
                    <img src="{{ asset('img/logo.png') }}" alt="FriendlyCup Logo" class="main-logo">
                </a>
            </div>
            <div class="search-container">
              <form action="{{ path('lista_torneos') }}" method="get">
                    <input type="text" 
                        name="q" 
                        placeholder="Buscar torneos..." 
                        value="{{ app.request.query.get('q') }}">
        
              </form>
            </div>
            <div class="nav-buttons">
                <nav id="navLogin">
                    {% if app.user %}
                        <div class="user-nav-wrapper">
                            <a href="{{ path('user_profile', {'username': app.user.name}) }}" class="user-link">
                                <div class="nav-avatar">
                                    {% if app.user.foto %}
                                        <img src="{{ asset('uploads/avatars/' ~ app.user.foto) }}?v={{ 'now'|date('U') }}" alt="Avatar">
                                    {% else %}
                                        <div class="nav-avatar-placeholder" style="color:#043f29; font-weight:bold;">
                                            {{ app.user.name|first|upper }}
                                        </div>
                                    {% endif %}
                                </div>
                                <span class="user-welcome">Hola, {{ app.user.name }}</span>
                            </a>

                            <button class="btn-secondary logout">
                                <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
                            </button>
                        </div>
                    {% else %}
                    {% endif %}
                </nav>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}

</div>

<footer>
    <div>
        <p>&copy; {{ "now"|date("Y") }} Samuel Aded, Abel Sabater y Álvaro Ruiz - FriendlyCup</p>
        <p>Todos los derechos reservados</p>
    </div>
</footer>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ asset('js/fantasy.js') }}"></script>
    <script src="{{ asset('js/fantasy2.js') }}"></script>
    <script src="{{ asset('js/perfil.js') }}"></script>
    <script src="{{ asset('js/torneo.js') }}"></script>
    <script src="{{ asset('js/modaldisputas.js') }}"></script>
{% endblock %}
</body>
</html>