<h2>Resumen</h2>
{% if app.user == admin %}
<a id="anadirdisputa" class="btn-secondary" data-torneo-id="{{ torneo.id }}">Añadir disputa</a>
<a id="eliminardisputa" class="btn-danger" data-torneo-id="{{ torneo.id }}">Eliminar disputa</a>
{% endif %}
{% for disputa in disputas %}
    <p id="disputa">{{disputa.equipo1.nombre}}: {{disputa.resultado}} {{disputa.equipo2.nombre}}</p>
{% else %}
    <p>No hay disputas todavía.</p>
{% endfor %}